/* OBFUSCATED BY CSSOBFUSCATOR.COM at 2018/12/05 12:28:12 */
h2, h1#monkeymemorytext {
    text-align: center;
}

img[class~=images], [class~=image][class~=match], [class~=card], [class~=image] {
    width: 1.666666667in;
}

#board {
    background-color: transparent;
}

[class~=card], img[class~=images], [class~=image][class~=match], [class~=image] {
    height: 120pt;
}

[class~=card] {
    margin-left: 7.5pt;
}

body {
    background-image: linear-gradient(#918b76, #aca885, #e1ca96);
}

#board {
    width: 45pc;
}

body {
    -webkit-background-size: cover;
}

[class~=card] {
    margin-bottom: 7.5pt;
}

[class~=card] {
    margin-right: 7.5pt;
}

body {
    -moz-background-size: cover;
}

[class~=card] {
    margin-top: 7.5pt;
}

[class~=card] {
    float: right;
}

[class~=card] {
    background-image: url("../img/cardbackside.png");
}

[class~=image][class~=match], [class~=image] {
    -webkit-border-radius: 10px;
}

[class~=card] {
    background-size: 1.666666667in 160px;
}

#board {
    height: 530px;
}

body {
    -o-background-size: cover;
}

body {
    background-size: cover;
}

[class~=image][class~=match], [class~=card], [class~=image] {
    border-radius: .625pc;
}

[class~=card] {
    -moz-box-shadow: -.1875pc .03125in .104166667in #000;
}

[class~=image][class~=match], [class~=image] {
    -moz-border-radius: 10px;
}

[class~=card] {
    -webkit-box-shadow: -.03125in .03125in 7.5pt #000;
}

#board {
    padding-left: .625pc;
}

[class~=card] {
    box-shadow: -2.25pt 3px .625pc #000;
}

#board {
    padding-right: .104166667in;
}

.card.image img {
    display: block;
}

[class~=card] img {
    display: none;
}

#board {
    padding-bottom: 7.5pt;
}

#board {
    margin-left: auto;
}

#board {
    margin-bottom: 0pt;
}

#board {
    margin-right: auto;
}

#board {
    margin-top: 0pt;
}